@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body{
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
}

nav.barnav{
   height: 100px;
   background-color: #ff5a00;
   margin-bottom: 20px;
}

/*.navbar-expand-lg{
   background-color: red;
}

